{% extends 'eventos/plantilla.html' %}

{% load static %}
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



{% block content %}

<!-- 
	Validación de formulario 
-->
{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		{%if message.tags == 'error' %}
		<div class="alert alert-danger" role="alert">
			<li {% if message.tags %} class="" {% endif %} style="list-style: none" ><i class="fas fa-info-circle"></i> {{ message }}</li>
		</div>
		{%endif %}
		{%if message.tags == 'success' %}
		<div class="alert alert-success" role="alert">
			<li {% if message.tags %} class="" {% endif %}>{{ message }}</li>
		</div>
		{%endif %}

		{% endfor %}
	</ul>
{% endif %} <!-- /Fin de validación -->


<div class="container contact-form">
	<form method="POST"> 
		{% csrf_token %}
		<h3>Escribenos aquí tu mensaje</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" name="nombre" class="form-control" placeholder="Tu nombre*" value="" required/>
				
				</div>
				<div class="form-group">
					<input type="text" name="correo" class="form-control" placeholder="Tu correo*" value="" required />
				
				</div>
				<div class="form-group">
					<input type="text" name="tel" class="form-control" placeholder="Número de teléfono/celular *"
						value="" required/>
		
				</div>
				<div class="form-group">
					<input type="submit" name="btnSubmit" class="btnContact" value="Enviar mensaje" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<textarea name="comentario" class="form-control" placeholder="Tu mensaje *"
						style="width: 100%; height: 150px;" ></textarea>
					
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock content %}