{% extends 'eventos/plantilla.html' %}

{% load static %}

{% block content %}
<div class="content container">
	<div class="row">
		<div class="card col-md-auto" style="margin: auto;margin-bottom: 20px">

			<div class="col-sm-auto" style="margin:auto;padding: 10px;">

				<!-- Tabla en donde se visualiza el contenido 
					========================================== -->
				<table class="table table-responsive table-hover" style="width:auto;height: auto;margin:auto">
					<tr>
						<td colspan="2" style="border-top: none">
							<img class="text-center" src="{{evento.imagen.url}}" alt="{{evento.name}}" style="margin:auto;width: 100%; max-height: auto">
						</td>
					</tr>
					<tr>
						<td colspan="2" style="border-top: none">
							<h4 class="card-title">{{evento.name }}</h4>
						</td>
					</tr>
					<tr>
						<th scope="row">Estado:</th>
						<td>{{evento.estado}}</td>
					</tr>
					<tr>
						<th scope="row">Ciudad:</th>
						<td>{{evento.city}}</td>
					</tr>
					<tr>
						<th scope="row">Descripción: </th>
						<td>{{evento.descripcion}}</td>
					</tr>
					<tr>
						<th scope="row">Fecha: </th>
						<td>{{evento.date}} a las {{evento.hora}} hrs</td>
					</tr>
					<tr>
						<th scope="row">Kilómetros de recorrido:</th>
						<td>{{evento.km}}</td>
					</tr>
					<tr>
						<th scope="row">Tiempo de recorrido:</thcla>
						<td>{{evento.time}}</td>
					</tr>
					<tr>
						<th scope="row">Punto de inicio: </th>
						<td>{{evento.punto_inicio}}</td>
					</tr>
					<tr>
						<td class="text-center" colspan="2">

							<!-- Campo de visualización de Google Maps -->
							<div style="overflow:hidden;max-width: 1000px;position: relative;">
								<iframe width="100%" height="440"
									src="https://maps.google.com/maps?width=auto&amp;height=440&amp;hl=en&amp;q={{evento.city}}%2C{{evento.estado}}%2C{{evento.punto_inicio}}+(Mapita)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"
									frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
								</iframe>
								<div
									style="position: absolute;min-width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
									<small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by
										<a href="https://embedgooglemaps.com/en/">https://embedgooglemaps.com/en/
										</a> &
										<a href="https://lasagradafamiliatickets.de/la-sagrada-familia-ticket/"> tickets
										</a>
									</small>
								</div>
							</div> <!-- / Fin del Campo de visualización de Google Maps -->
							<br />
						</td>
					</tr>
					<tr>
						<!-- Pequeña validación si el costo es 0.0 mostrará gratis, si no, mostrará el costo -->
						<th scope="row">Costo:</th>
						{% if evento.costo == 0.0 %}
						<td>Gratis</td>
						{% else %}
						<td>${{evento.costo}}</td>
						{% endif %}
					</tr>
				</table> <!-- Cierre de tabla de visualización de contenidos -->
			</div>
		</div>
	</div>
</div>
{% endblock content %}