{% extends 'eventos/event_list.html' %}

{% load static %}

{% block destacado %}
<div class="info-block">
	<h1 style="text-align: center">Destacados</h1>
</div>
<div class="row">
	<div class="col-lg-4">
		<img class="rounded-circle"
			src="{% static 'images/btour.jpg' %}"
			alt="Generic placeholder image" width="140" height="140">
		<h2>Morelia</h2>
		<p>Recorre en bici el centro de esta bella ciudad colonial.</p>
		
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle"
			src="{% static 'images/cdmx.jpg' %}"
			alt="Generic placeholder image" width="140" height="140">
		<h2>CDMX</h2>
		<p>Ven a disfrutar de Reforma de una manera ecológica.</p>
		
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle"
			src="{% static 'images/can.jpg' %}"
			alt="Generic placeholder image" width="140" height="140">
		<h2>Cancún</h2>
		<p>Disfrutas de la aventura y de los hermosos paisajes de la costa mexicana del sureste.</p>
		
	</div><!-- /.col-lg-4 -->
</div><!-- /.row -->
{% endblock destacado %}