<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Local Project CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>BiciTour</title>
</head>

<body>
	<div id="contenedor_carga">
		<div id="carga"></div>
	</div>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<img src="{% static 'images/logo2png.png' %}" style="max-width: 300px;max-height: 50px" alt="LOGO">
			<a class="navbar-brand" href="#">BiciTour</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Catálogo completo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contacto</a>
					</li>
				</ul>
				<form class="form-inline mt-2 mt-md-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Buscar Evento"
						aria-label="Buscar Evento">
					<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div>
		</nav>
		<input type="button" class="btn btn-primary" data-toggle="collapse" value="Hola mundo" data-target="#demo" style="width:100%; margin-top: 18px; border-radius: 0">
		<div id="demo" class="collapse">
			<div style="background-color: rgb(35, 96, 211);color:white;padding: 3em">
				<center>
					<img src="{% static 'images/logopng.png' %}" alt="LOGO de BiciTour" style="width: 500px;height: 300px;">
				</center>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
		</div>
	</header>

	<main role="main">


		{% block carrucel %}

		{% endblock carrucel %}


		<!-- Marketing messaging and featurettes
				================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->

		<div class="container marketing">

			<!-- Three columns of text below the carousel -->

			{% block destacado %}

			{% endblock destacado %}

			<!-- START THE FEATURETTES -->

			<hr class="featurette-divider">

			{% block content %}

			{% endblock content %}

			<!-- /END THE FEATURETTES -->

		</div><!-- /.container -->

		<!-- FOOTER -->
		<footer class="container">
			<p class="float-right"><a href="#">Regresa al encabezado</a></p>
			<p>&copy; 2019 BiciTur, Equipo. TI 9C </p>
		</footer>
	</main>
	<!-- My scripts -->
	<script src="{% static 'js/script.js' %}"></script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
</body>

</html>