<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/9ec26bb858.js"></script>
	<!-- Local Project CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>BiciTour</title>
</head>

<body>
	<div id="contenedor_carga">
		<div id="carga"></div>
	</div>
	<!-- HEADER o ENCABEZADO 
		====================-->
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<img src="{% static 'images/logo2png.png' %}" style="max-width: 300px;max-height: 50px" alt="LOGO">
			<a class="navbar-brand" href="/">BiciTour</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'Contacto' %}">Contacto</a>
					</li>
				</ul>
				<form class="form-inline mt-2 mt-md-0" method="GET">
					<input class="form-control mr-sm-2" type="text" placeholder="Buscar Evento"
						aria-label="Buscar Evento" name="q">
					<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div>
		</nav>
	</header> <!-- /Termina el contenido del encabezado -->
	
	<!-- Visualización del contenído principal de la página
		==================================================== -->

	<main role="main" style="background-color: rgb(248, 248, 248)">

		<!-- Bloque para el carrucel de imágenes del template event_list -->
		{% block carrucel %}

		{% endblock carrucel %}

		<!-- Barra de navegación -->
		<div class="breadcrumb-line" style="margin: 2%">
			<ul class="breadcrumb" style="background-color: rgb(248, 248, 248);border: 1px solid rgb(212, 212, 212);border-radius: 20px">
				<li>
					<a href="{%url 'Principal'%}" style="text-decoration: none">
						{% if request.path == '/'%}
						<i class="fas fa-home"></i> /Principal
						{% else %}
						<i class="fas fa-reply"></i> Principal{{request.path}}
						{% endif %}
					</a>
				</li>
			</ul>
		</div><!-- /Barra de navegación -->

		<!-- Contenedor -->
		<div class="container marketing">

			<!-- Contenido destacado -->
			{% block destacado %}

			{% endblock destacado %}

			<!-- Línea de separación del contenido -->
			<hr class="featurette-divider">

			<!-- Visualización de la lista de eventos de forma horizontal con scroll -->
			{% block estados_list %}

			{% endblock estados_list %}

			<!-- CONTENIDO -->
			{% block content %}

			{% endblock content %}

		</div><!-- /Contenedor -->

		<!-- FOOTER o PIE DE PÁGINA -->
		<footer class="page-footer font-small bg-dark" style="margin-bottom: -50px">
			<div class="container text-center text-md-left mt-5">

				<!-- Grid row -->
				<div class="row mt-3">

					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

						<!-- Content -->
						<h6 class="text-uppercase font-weight-bold">BiciTour</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
						<p>Somos una empresa que se dedica a la creación de recorridos en bicicleta mas solicitada en el país</p>
						<!-- /Content -->
					</div>
					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">Eventos</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
						<p>
							<a href="{% url 'Principal' %}">Lista de eventos</a>
						</p>

					</div>

					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold"><a href="{% url 'Contacto' %}">Contacto</a></h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
						<p>
							<i class="fas fa-home mr-3"></i> Morelia, Michoacán</p>
						<i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
						<p>
							<i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

					</div> <!-- /Grid column -->

				</div> <!-- /Grid row -->

			</div> <!-- /Footer Links -->

			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2019 Copyright:
				Equipo BiciTour TI 9C
			</div> <!-- /Copyright -->

		</footer> <!-- /FOOTER -->
	</main> <!-- /Termina el contenido de la página -->

	<!-- My scripts -->
	<script src="{% static 'js/script.js' %}"></script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>